name: CI Minimal

on:
  workflow_dispatch:
    inputs:
      platform:
        description: 'Platform to build on'
        required: false
        default: 'linux'
        type: choice
        options: [linux, windows, mac]
      build_type:
        description: 'CMake build type'
        required: false
        default: 'debug'
        type: choice
        options: [debug, release, relwithdebinfo, ubsan, asan]

jobs:
  minimal-build:
    name: ${{ github.event.inputs.platform || 'linux' }}-${{ github.event.inputs.build_type || 'debug' }}
    uses: ./.github/workflows/ci-steps.yaml
    with:
      runner: ${{ github.event.inputs.platform || 'linux' }}
      build_type: ${{ github.event.inputs.build_type || 'debug' }}
    secrets:
      GH_PACKAGES_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}