name: CI Tests & Coverage (Linux Deb)

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  workflow_dispatch:
    inputs:
      build_type:
        description: 'CMake build type'
        required: false
        default: 'debug'
        type: choice
        options: [debug, release, relwithdebinfo, ubsan, asan]
      enable_coverage:
        description: 'Enable code coverage'
        required: false
        default: false
        type: boolean

jobs:
  tests:
    uses: ./.github/workflows/ci-steps.yaml
    with:
      runner: gpu
      build_type: ${{ github.event.inputs.build_type || 'debug' }}
      enable_tests: true
      enable_coverage: ${{ github.event.inputs.enable_coverage || github.event_name != 'workflow_dispatch' }}

    secrets:
      GH_PACKAGES_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}
  