name: CI GPU Tests

on:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '**.md'
      - 'LICENSE'
  workflow_dispatch:
    inputs:
      build_type:
        description: 'CMake build type'
        required: false
        default: 'debug'
        type: choice
        options: [debug, release, relwithdebinfo, ubsan, asan]

jobs:
  gpu-tests:
    name: GPU Tests
    uses: ./.github/workflows/ci-steps.yaml
    with:
      runner: gpu
      build_type: ${{ github.event.inputs.build_type || 'release' }}
      enable_tests: true

    secrets:
      GH_PACKAGES_TOKEN: ${{ secrets.GH_PACKAGES_TOKEN }}
  